## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import text
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from nltk.sentiment.vader import SentimentIntensityAnalyzer

import re

In [2]:
np.random.seed(42)

## Reading Datasets

In [3]:
overall_df = pd.read_csv('./data/overall_sample.csv')
overall_df.head(2)

,Title,profileName,review/score,review/summary,review/text,description,authors,image,categories,ratingsCount
0,Younger,Shon,4.0,Better than expected,I starting reading this book while waiting for...,In the hotly anticipated sequel to the beloved...,Pamela Redmond,http://books.google.com/books/content?id=Ohq8D...,Fiction,2.0
1,Brave New World,Jon,5.0,Great in its own way,I feel that 1984 and B.N.W. can be compared as...,Brave New World predicts - with eerie clarity ...,Aldous Huxley,http://books.google.com/books/content?id=kKh5D...,Fiction,2713.0

In [4]:
review_df = pd.read_csv('./data/review_sample.csv')
review_df.head(2)

,Title,profileName,review/score,review/summary,review/text,description,authors,image,categories,ratingsCount
0,Bridget Jones: The Edge of Reason,C. Prasojo,4.0,Fun to read,This book is a nice diary about Bridget Jones ...,"With another devastatingly hilarious, ridiculo...",Helen Fielding,http://books.google.com/books/content?id=dYONd...,Fiction,2088.0
1,To Kill A Mockingbird,Elissa Amyotte,5.0,Highshool Classic,I first read this book in grade 10 English cla...,Voted America's Best-Loved Novel in PBS's The ...,Harper Lee,http://books.google.com/books/content?id=PGR2A...,Fiction,2164.0

In [ ]:
# top 10 authors
# pie chart of the most reviewed categories